<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube de Futebol</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="background"></div>
    <div class="header">
        <i class="fa-solid fa-futbol"></i>
        <span class="club-name">Clube de Futebol</span>
    </div>

    <h1>Bem-vindo ao Nosso Clube!</h1>

    <div class="links">
        <a href="admin/viagem/lst" class="link-btn">viagens</a>
        <a href="admin/aeroporto/lst" class="link-btn">aeroporto</a>
        <a href="admin/usuario/lst" class="link-btn">usuario</a>
    </div>
</body>

</html>