<%-include('../cabecalho.ejs')%>
<body>

    <div class="container">
        <h1>viagens</h1>
        <div class="add-time">
            <a href="/admin/viagem/add" class="add-btn">+ Adicionar viagem</a>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>viagem</th>
                    <th>Estádio</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brasil-PE</td>
                    <td>Estádio Ilha do Retiro</td>
                    <td class="action-buttons">
                        <a href="/admin/viagem/edt/1" class="edit-btn">Editar</a>
                        <a href="/admin/viagem/del/1" class="delete-btn"><i class="fa-solid fa-trash"></i> Excluir</a>
                    </td>
                </tr>
                <tr>
                    <td>Brasil-PA</td>
                    <td>Estádio Mangueirão</td>
                    <td class="action-buttons">
                        <a href="/admin/viagem/edt/2" class="edit-btn">Editar</a>
                        <a href="/admin/viagem/del/2" class="delete-btn"><i class="fa-solid fa-trash"></i> Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
